* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

ul {
    width: 500px;
    border: 2px solid black;
    border-bottom: none;
}

li {
    list-style: none;
    display: flex;
    border-bottom: 2px solid black;
}

span {
    width: 50%;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.email-title {
    font-size: 20px;
    font-weight: 700;
    color: chartreuse;
    border-left: 1px solid black;
}

.name-title {
    font-size: 20px;
    font-weight: 700;
    color: crimson;
    border-right: 1px solid black;
}

.user-email {
    background: chartreuse;
    color: #fff;
    border-left: 1px solid black;
}

.user-name {
    background: crimson;
    color: #fff;
    border-right: 1px solid black;
}